*{
    background-color: 	#e8f1f5;
    
    
}
body {
    color:#005691;
    display:inline-block;
}
.container{
    position: relative;
    width:max-content;
    /* text-align: center; */
    text-justify: auto;
    border: 2px solid black;
    border-radius: 15px;
    padding-top: 1rem;
    /* padding-left: 2rem; */
    margin-top: 2rem;
    background-color: #e8f1f5;
    text-emphasis-color: black;
    box-shadow:  0 0 2px 2px #d9d9d9;
    
}
label {
    color: #004a7c;
    background-color: #e8f1f5;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    text-align: left;
    /* padding-right: 7rem; */
    font-weight: 750;

}
input {
    width: 350px;
    
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 300;
    text-transform: uppercase;
    display:block;    
    margin-bottom: 1rem;
    border-radius: 8px;
}
::placeholder pseudo-element{
    width:max-content;
}
.header {
    color: #004a7c;
    background-color: #e8f1f5;
    margin-top: 1.5rem;
}

select {
    margin-bottom: 4rem;
    border-radius: 8px;
}
.submit-button {
    position: absolute;
    bottom: 10px;
    
    padding: 10px 20px;
    background-color: #004a7c;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .submit-button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }

  #signup{
    right: 10px;
  }
  #login {
    left:12px;
  }