*{
    background-color: 	#fafafa;
    
    
}
body {
    color:#005691;
    display:inline-block;
}
.container{
    position: relative;
    width:max-content;
    /* text-align: center; */
    border: 2px solid black;
    border-radius: 15px;
    padding-top: 1rem;
    /* padding-left: 2rem; */
    margin-top: 2rem;
    background-color: #e8f1f5;
    text-emphasis-color: black;
    box-shadow:  0 0 2px 2px #d9d9d9;
    
}
label {
    color: #004a7c;
    background-color: #e8f1f5;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    text-align: left;
    /* padding-right: 7rem; */
    font-weight: 750;

}
input {
    width: 350px;
    border-radius: 8px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 300;
    display:block;
    /* display:inline-block; */
    margin-bottom: 1rem;
    
}

input::placeholder{
    text-transform: uppercase;
}

.header {
    color: #004a7c;
    background-color: #e8f1f5;
    margin-top: 1.5rem;
}


.submit-button {
    position: absolute;
    bottom: 10px;
    padding: 10px 10px;
    background-color: #004a7c;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  #login{
    right: 10px;
  }
  
  .submit-button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }

  #signup{
    left: 10px;
    
  }