<form [formGroup]="loginForm" (ngSubmit)="loginUser()">
  <div class="container">
    <p class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4 header">Login</p>
    
    <label>E-mail</label>
    <input class="text-center" type="text" formControlName="email" placeholder="e-mail" />
    @if(email?.hasError('required') && email?.touched){
    <div class="text-danger bg-transparent">Email Required</div>
    } @if(email?.hasError('email') && email?.touched){
    <div class="text-danger bg-transparent">Email must have a specific format...&#64; &copy;</div>
    }
   
  
    <label>Password</label>
    <input
      class="text-center"
      type="text"
      formControlName="password"
      placeholder="Please enter your password"
    />
    @if(password?.hasError('required') && password?.touched){
    <div class="text-danger bg-transparent">Password Required</div>
    } @if(password?.hasError('minlength') && password?.touched){
    <div class="text-danger bg-transparent">Password must have at least 4 letters</div>
    } @if(password?.hasError('pattern') &&password?.touched){
    <div class="text-danger bg-transparent">Password must have only letters</div>
    }
    <br/><br/><br/>
    <button class="text-center submit-button" id="signup">Don't have an account yet? Sign Up</button>
    <button class="text-center submit-button" id="login"[disabled]="!loginForm.valid">Login</button>
    
  </div>
  </form>
  