<div class="container my-5">
  <div class="row">
    <div *ngIf="currentUser !== null" class="col-xs-12 col-sm-6 col-lg-4">
      <h4>My Information</h4>
      <div *ngIf="currentUser !== null" class="card">
        <div class="card-body">
          <p class="card-text">
            <strong>First Name:</strong> {{ currentUser.firstName }}
          </p>
          <p class="card-text">
            <strong>Last Name:</strong> {{ currentUser.lastName }}
          </p>
          <p class="card-text">
            <strong>Email:</strong> {{ currentUser.email }}
          </p>
          <p class="card-text">
            <strong>Address:</strong> {{ currentUser.address }}
          </p>
          <p class="card-text"><strong>VAT:</strong> {{ currentUser.vat }}</p>
        </div>
      </div>
    </div>
    <div class="vr col-1"></div>
    <div *ngIf="currentUser !== null" class="col-xs-12 col-sm-5 col-lg-7">
      <h4 class="mb-3">Update User Information</h4>
      <form [formGroup]="userForm" (ngSubmit)="putUpdateUser()" class="row g-3">
        <div class="col-md-6">
          <label for="email" class="form-label">Email</label>
          <input
            id="email"
            type="email"
            formControlName="email"
            class="form-control"
            required
          />
        </div>

        <div class="col-md-6">
          <label for="address" class="form-label">Address</label>
          <input
            id="address"
            type="text"
            formControlName="address"
            class="form-control"
            required
          />
        </div>

        <div class="col-md-6">
          <label for="password" class="form-label">Password</label>
          <input
            id="password"
            type="password"
            formControlName="password"
            class="form-control"
            required
          />
        </div>

        <div class="col-md-6">
          <label for="confirmPassword" class="form-label"
            >Confirm Password</label
          >
          <input
            id="confirmPassword"
            type="password"
            formControlName="confirmPassword"
            class="form-control"
            required
          />
        </div>

        <div class="col-12">
          <button
            type="submit"
            [disabled]="!userForm.valid"
            class="btn btn-primary me-3"
          >
            Update User
          </button>
          <button
          type="button"
          class="btn btn-danger"
          data-bs-toggle="modal"
          data-bs-target="#deleteUserModal"
        >
          Delete my user
        </button>
        </div>
      </form>
    </div>
  </div>
  <div
  class="modal fade"
  id="deleteUserModal"
  tabindex="-1"
  aria-labelledby="deleteUserModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="deleteUserModalLabel">Confirm User Deletion</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        Are you sure you want to delete your account? This action is
        permanent, and you will be logged out immediately.
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-secondary"
          data-bs-dismiss="modal"
        >
          Cancel
        </button>
        <button
          type="button"
          class="btn btn-danger"
          (click)="softDeleteUser()"
          data-bs-dismiss="modal"
        >
          OK
        </button>
      </div>
    </div>
  </div>
</div>
  <div class="container my-5">
    <h4>My Properties</h4>
    <div class="row">
      <div
        *ngFor="let property of properties"
        class="col-xs-12 col-md-6 col-lg-4 mb-sm-2"
      >
        <div class="card h-100">
          <div class="card-body">
            <h5 class="card-title">Property Information</h5>
            <p class="card-text">
              <strong>Owner:</strong> {{ property.user.firstName }}
              {{ property.user.lastName }}
            </p>
            <p class="card-text">
              <strong>Address:</strong> {{ property.address }}
            </p>
            <p class="card-text">
              <strong>Property ID:</strong> {{ property.propertyId }}
            </p>
            <p class="card-text">
              <strong>Year of Construction:</strong
              >{{ property.yearOfConstruction }}
            </p>
            <p><strong>Property Type:</strong> {{ property.propertyType }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <h4 class="my-3">Add New Property</h4>
  <form
    [formGroup]="propertyForm"
    (ngSubmit)="postAddProperty()"
    class="row g-3"
  >
    <div class="col-md-6">
      <label for="property-address" class="form-label">Address</label>
      <input
        id="property-address"
        formControlName="address"
        class="form-control"
        [(ngModel)]="newProperty.address"
        required
      />
    </div>

    <div class="col-md-6">
      <label for="property-id" class="form-label">Property ID</label>
      <input
        id="property-id"
        type="text"
        formControlName="propertyId"
        class="form-control"
        [(ngModel)]="newProperty.propertyId"
        required
      />
    </div>

    <div class="col-md-6">
      <label for="user-id" class="form-label">User (Owner)</label>
      <select
        id="user-id"
        formControlName="userId"
        class="form-control"
        [(ngModel)]="newProperty.user.id"
      >
        <option *ngIf="currentUser !== null" [value]="currentUser.id">
          {{ currentUser.firstName }} {{ currentUser.lastName }}
        </option>
      </select>
    </div>

    <div class="col-md-6">
      <label for="yearOfConstruction" class="form-label"
        >Year of Construction</label
      >
      <input
        id="yearOfConstruction"
        type="number"
        formControlName="yearOfConstruction"
        class="form-control"
        [(ngModel)]="newProperty.yearOfConstruction"
        required
      />
    </div>

    <div class="col-md-6">
      <label for="propertyType" class="form-label">Property Type</label>
      <select
        id="propertyType"
        formControlName="propertyType"
        class="form-select"
        [(ngModel)]="newProperty.propertyType"
        required
      >
        <option value="DETACHED_HOUSE">Detached house</option>
        <option value="MAISONETTE">Maisonette</option>
        <option value="APARTMENT_BUILDING">Apartment building</option>
      </select>
    </div>

    <div class="col-12">
      <button type="submit" class="btn btn-primary">Add Property</button>
    </div>
  </form>
</div>

<div class="container my-5">
  <h3>Select Property to View Repairs</h3>

  <!-- Dropdown για την επιλογή ιδιοκτησίας  -->
  <div class="form-group">
    <label for="propertySelect">Select Property:</label>
    <select
      id="propertySelect"
      class="form-control"
      [(ngModel)]="selectedPropertyId"
      (change)="selectProperty($event)"
    >
      <option *ngFor="let property of properties" [value]="property.id">
        {{ property.address }} ({{ property.propertyType }})
      </option>
    </select>
  </div>

  <!-- Εμφάνιση επισκευών για την επιλεγμένη ιδιοκτησία -->
  <div *ngIf="selectedPropertyId && repairs.length > 0" class="mt-4">
    <h4>Repairs for Selected Property</h4>

    <div class="row">
      <div
        *ngFor="let repair of repairs"
        class="col-xs-12 col-sm-6 col-lg-4 mb-4"
      >
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">{{ repair.typeOfRepair }}</h5>
            <p class="card-text">
              <strong>Short Description:</strong>
              {{ repair.shortDescription }}
            </p>
            <p class="card-text">
              <strong>Description:</strong> {{ repair.description }}
            </p>
            <p class="card-text">
              <strong>Status:</strong> {{ repair.status }}
            </p>
            <p class="card-text">
              <strong>Owner Acceptance:</strong>
              {{ repair.ownerAcceptance ? "Accepted" : "Not Accepted" }}
            </p>
            <p class="card-text">
              <strong>Submission Date:</strong>
              {{ repair.submissionDate | date : "longDate" }}
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Μήνυμα αν δεν υπάρχουν επισκευές -->
  <div *ngIf="selectedPropertyId && repairs.length === 0" class="mt-4">
    <div class="alert alert-info" role="alert">
      No repairs found for this property.
    </div>
  </div>
</div>

<div class="container my-5">
  <h3>Select Property to Add Repair</h3>

  <!-- Dropdown for selecting a property -->

  <form
    [formGroup]="repairForm"
    (ngSubmit)="postAddRepair()"
    class="row g-3 mt-4"
  >
    <div formGroupName="property" class="form-group">
      <label for="propertySelect">Select Property:</label>
      <select id="propertySelect" class="form-control" formControlName="id">
        <option *ngFor="let property of properties" [value]="property.id">
          {{ property.address }} ({{ property.propertyType }})
        </option>
      </select>
    </div>
    <div class="col-md-6">
      <label for="typeOfRepair" class="form-label">Type of Repair</label>
      <select
        id="typeOfRepair"
        formControlName="typeOfRepair"
        class="form-select"
        required
      >
        <option
          *ngFor="let repairType of repairTypes"
          [value]="repairType.value"
        >
          {{ repairType.label }}
        </option>
      </select>
    </div>
    <div class="col-md-6">
      <label for="shortDescription" class="form-label">Short Description</label>
      <input
        id="shortDescription"
        formControlName="shortDescription"
        class="form-control"
        required
      />
    </div>

    <div class="col-md-6">
      <label for="description" class="form-label">Description</label>
      <textarea
        id="description"
        formControlName="description"
        class="form-control"
        rows="3"
        required
      ></textarea>
    </div>

    <div class="col-12">
      <button
        type="submit"
        [disabled]="!repairForm.valid"
        class="btn btn-primary"
      >
        Add Repair
      </button>
    </div>
  </form>
</div>
